
nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
  margin-right: 10px;
}
.login-container{
 display: flex;
 justify-content: center;
}
.login-form{
  display: flex;
  flex-direction: column;

}
.login-form input, button{
  font-size: 1em;
  margin-top: 10px;
  padding-left:10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}
.login-form button{
  background-color: rgb(224, 62, 189);
  color: whitesmoke;
  font-weight: 700;
  padding: 5px 0px;
}