
.calender{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    grid-template-rows: 2em repeat(5, 1fr);
}
.date, .day{
    background-color: lightslategray;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.other-month{
    background-color: lightgray;
}
.day{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: green;
    border-radius: 10px;
    
}
.sun{
    background-color: #f54e42;
}
.sun:hover{
    background-image: linear-gradient(to right, crimson,#55edbb,#d13dca);
}