nav {
  background-color: beige;
}

.package-section {
  margin: 0px;
}
.card {
  width: 270px;
  height: 370px;

  box-shadow: 0px 42px 34px rgba(247, 248, 250, 0.25);

  border: 0;
  border-radius: 10px;
  margin: 50px;

  padding: 25px 50px;
  background-color: beige;
}
.card-bg {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.card-special {
  color: #fff;
  width: 265px;
  background-image: linear-gradient(to right, #3f87f5, rgb(10, 142, 250));
  border: 0;
  border-radius: 10px;
  padding-top: -10px;
  margin-right: 10px;
}
.card-special:hover {
  transform: scale(1.1);
}
.card-btn-warning {
  color: rgb(7, 109, 7);
  width: 150px;
  height: 40px;
  background-color: #ee8fd6;
  border-radius: 24px;
  margin-left: -10px;
}
.bonus-part {
  margin-right: 15px;
  margin-left: 10px;
}

.row {
  margin-right: 70px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #0b0d17;
}
