h1{
    text-align: center;
}
.author-name{
    color: brown;
}
.div1{
    background-color: lightskyblue;
    text-align: center;
}

.div2{
    background-color: lightskyblue;
    text-align: center;
}
.div3{
    background-color: lightskyblue;
    text-align: center;
}