.field{
    margin: 100px;
    border: 1px solid;
}
.bat{
    height: 350px;
    margin-top: 50px;
    transition: transform 0.2s ease-in 0.1s;
    
    
}
.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
    
}
.ball{
    height: 30px;
    width: 30px;
    background-color: maroon;
    border: 0.5px solid gray;
    border-radius: 50%;
    position: relative;
   left:430px;
   transition: transform 1s ease-out 0.3s;
    
}
.field:hover .ball{
    transform: translate(900px,-300px);
}